Assets/User/*
Docs/html
.swiftlint.yml
IDETemplateMacros.plist
SKTiled.xcodeproj/xcshareddata/xcschemes/Demo*
*.psd
*.html

# allowed in release, remove in master

Demo/shaders/*
Docs/Private
Docs/Sketch
*.graffle
